<!doctype html>
<html>
  <body>
    <script>
      const ws = new WebSocket("ws://localhost:5199/__internal/ws");
      const html = document.querySelector("html");
      ws.addEventListener("open", (e) => {
        console.log("Websocket connection established!");
      });
      ws.addEventListener("close", (e) => {
        console.log("Websocket connection terminated!");
        html.innerHTML = "<p> Connection terminated!</p>";
      });
      ws.addEventListener("message", async (e) => {
        const event = JSON.parse(e.data);
        reload(event);
      });

      function reload(event) {
        // strip url prefix
        const url = event.Name.substr(2);

        // if entrypoint changes, reload the entire page
        if (url == "test.html") {
          location.reload();
          return;
        }

        for (let tag of ["href", "src", "data"]) {
          renderUpdates(tag, url);
        }
      }

      // locate changed elements and update them
      function renderUpdates(tag, url) {
        const elements = document.querySelectorAll(`[${tag}*="${url}"]`);
        for (let element of elements) {
          const newUrl = `${url}?t=${new Date().getTime()}`;
          element.setAttribute(tag, newUrl);
        }
      }

      // initial data fetch
      (async () => {
        const resp = await fetch("test.html");
        const data = await resp.text();
        html.innerHTML = data;
      })();
    </script>
  </body>
</html>
